extends layout

block content
	.main
		h1(class="landing") Gerhard Bliedung <br> Experience Designer, Zurich
		
		.conversation
		.talk-container
			.spinner.hidden
			form(id="talk", method="", action="submitform()")
				input(type="text", class="conversation--input")
	.content
	
