---
title: 'cac'
subtitle: 'Computer aided computing'
date: 2012
meta: [{'Seminar': 'I Am a Cyborg, But That’s OK'}, {'Docent':'Björn Franke'}]
tags: ['essay', 'design theory', 'article','text']
longtext: true
---

:markdown
	Right now, it is highly likely that a newly developed application looks more like your worn out student budget leather couch than anything displayed in the 1968 science fiction movie 2001: A Space Odyssey.

	How come?
	It seems like we got stuck looking at screens. Ever since the television we are bound to glowing screens like moths, from gigantic CRT displays in the basement to the retina display in your pocket. Every new gadget comes with its own, new one. Hours and hours of work and resources spent on developing, designing, manufacturing – destined for en eternal existence on a landfill hopefully far away.

	Sure, some services live "in the cloud", enabling the access from multiple devices for on service, but still require your full attention – from installation over login and usage to deletion.

	Nearly thirty years after the first screening of 2001: A Space Odyssey, Mark Weiser from Xerox PARC developed the idea of Ubiquitous Computing --- and the term Calm Technology. He argues that the perfect interface is an invisible one, and that the mentioned time that is spent on developing todays screen based interfaces is not at all leading into a desirable direction. Instead he says "Attractiveness is the opposite of invisible".[1]
	The idea there seems very appealing. A computer experience that is so subtle you forget it even exists. That really can't be said about the current state of technology. Blaring mobile devices that need and and sadly sometimes are given more attention than infants. Simultaneously, a mutated idea of ubiquitous computing called Internet of Things enables plants to use twitter and your body scale to post the state of your belly to your online profile. So does scientific progress, after all, really go "boink"?[3]

	Sadly, Mark Weiser passed away in 1999 and leaves behind the vision of calm technology. But Donald Norman and others keep on further refining the the outlines of a desirable future on living with the increasing number of digital devices. One key element is to break with the traditional display itself, or as Norman puts it: 
	>>"If I were to have my way, we would not see computer interfaces. In fact, we would not see computers: both the interface and the computer would be invisible, subservient to the task the person was attempting to accomplish."[8] 

	Or, more drastically, Weiser and Brown: 

	>>"If computers are everywhere they better stay out of the way."[2]

	But how is this goal achievable? One attempt was made by Rehman et al.[4] in 2000 where they experimented with augmented reality as substitute for the traditional display which certainly breaks with the traditional way,  but projecting the interface directly on your retina does not exactly count as being invisible. 
	Further approaches to calm technology, or ambient intelligence are scattered around in various areas. For example machine learning algorithms warning you of potential credit card fraud, netflix recommendation system, the predictive interface in Wolfram's Mathematica 9 and of course the Google PageRank algorithm. 
	Speaking of which, also developed Google Now, which is a relatively new service that goes into an interesting direction. 

	### Siriously? ###

	Google Now is, similar to Apples Siri, an interactive service for mobile devices, proclaiming to be an "intelligent personal assistant". What it does is aiding the user in day to day activities with preprogrammed patterns like showing attractions near you, reminding you of calendar events, etc. It has not reached its full potential yet, as it will grow with the further development of Knowledge Graph.
	But do these services match the criteria of calm technology? 
	I would argue they do not. 
	Starting with the failure of being subtle or even invisible. They both live on a device that has to be taken care of, have to be administered and can't be trusted in their current state. Furthermore they are neither intelligent nor a personal assistant.
	Whereas an intelligent system does not necessarily need an artificial consciousness, Google Now and Siri would need to adapt their behavior over time according to the fact that every user is an individual character with different needs that go far beyond finding a restaurant or setting timers. This adaption does not happen, but still both Apple and Google chose to use an anthropomorphic sonic interface that does not behave as the interface suggests. This becomes clear after a short time when the witty responses start to repeat. This is the ticket to a nice trip to the uncanny valley. Which is surprising, as many other companies learned to avoid this problem by using a metaphor, or more specifically zoomorphism, that does not suggest an equal counterpart like Sony's robotic pet Aibo or Toshiba's universal remote Apripoco. This briefly sums up the intelligence part.
	As mentioned before, they both live on mobile devices exclusively, so the assistance stops working as soon as the user works on a different device like a workstation computer, the television, temperature regulation or lighting. This device (and display) agnosticism is a fundamental feature for a service that claims to be an assisting you. Another problem is that both services are by design not obedient to whomever they claim to assist. This obviously has to do with the limited featureset currently available, but also with a different topic named filter bubbling[5], which is a strategy to filter the content available to you on a basis you are not allowed to manipulate and certainly not your digital assistant programmed by the same company.

	### We need to talk. ###

	In the book "Next Nature"[6], the authors Koert van Mensvoort and Hendrik-Jan Grievink have made an adaption of Maslow's hierarchy of needs, which I show here in a condensed version. Currently, no digital invention arrived at the "invisible" layer, but it seems the internet is on its way from the vital layer to join omnipresent technologies like money and handwriting.

	| Maslow's hierarchy of needs | Hierarchy of Technology |
	| :-----------                | :------------           |
	| -                           | (Natural)*              |
	| Self-transcendence          | Invisible               |
	| Self-actualization          | Vital                   |
	| Esteem                      | Accepted                |
	| Safety needs                | Applied                 |
	| Physiological needs         | Functional              |

	<sub>_\* In brackets, as the book narrows technology not only to digital artifacts. If digital artifacts hold the potential to become a naturalized technology as agriculture, cooking or time is a question that would go beyond the scope of this essay._</sub>

	In the same book, Joran Damsteeg et al. have devised 11 Golden Rules of Anthropomorphism and Product Design[7]. A few have been addressed before, but I will quote them in their entirety and add more points that deem fundamental for a calmer execution of personal assistants.

	__11 Golden Rules:__

	1. Any Association that Can be Made, Will be Made
	2. Different People Anthropomorphize Differently
	3. Keep it ASS. Abstract, Simple and Subtle
	4. Complex Products Tend to Be Anthropomorphized
	5. Consider Zoomorphism as an Alternative
	6. Meet People’s Expectations
	7. Respect Social Standards
	8. Use Human Ethics
	9. Be Aware of the Ecosystem You’re Invading
	10. Enhance Human Experience, Don’t Replace It
	11. Don’t Use Anthropomorphism if it Does Not Serve Any Purpose

	__Additional principles:__

	1. Exceptional Natural language processing (sarcasm, seriousness)
	2. Ambient intelligence (IoT interface)
	3. Device agnosticism
	4. User always has override

	The first point mentions the human voice as as interface. This is not only a remnant of looking into Google Now and Siri. Altough Weiser said that even if it technically works, it would still be a conscious interaction and far from unobtrusive. 
	He also holds this up against intelligent agents, as the relationship would put it too much in the center of attention[1]. 

	But still, I would argue this combination is the most precise and natural interface imaginable in the near future and reduces the time needed to concentrate to a minimum. Even a thought controlled interaction is still a conscious interaction by definition. Maybe my sight is too narrow here, but I can not imagine a more reduced interface than that. There only stays a solely autonomous system that we are not capable to interact with anymore. Furthermore, as anthropomorphobic reactions are lost over time, a voice based solution could be easier to adapt to than any visual representation. 

	The fourth point refers to the filter bubbles, which means the user should have the choice to bypass preprogrammed patterns when the situation demands it. Apart from that, the modulation of the input should influence the action and enable tasks being executed based on a calculated priority. This is not only applicable to voice input, as an example from the movie Johnny Mnemonic shows. When the character Takahashi ends a call, he does this with a wide sweeping arm gesture that leads to an ending of the call, but also to the retraction of the video phone into his desk. In the book "Make it so --- Interaction Design Lessons from Science Fiction" the authors Nathan Shedroff and Christopher Noessel add to this scene:

	>>"When technology allows for a range of inputs, users can channel emotion into them, making the input more than a control but also a medium of expression. If the degree of emotion affects the degree of system response, all the better. This means that the technology fits the way we communicate as people much more readily than the precision that best fits computers."[9]


	__"I don't understand this 'ass kicking' reference, sir."__

	Sadly, I am not aware of an existing system that matches these criterias, so once again Science Fiction has to serve as an example. 
	One system, despite the added eye candy for entertainment, ticks off a lot of the points above and it is: J.A.R.V.I.S. from the newer Iron Man movie adaptations[10]. Originally a butler in the comic books, the film turned the character into a sophisticated intelligent assistant. It is device agnostic, as it lives in Tony Starks workshop, mobile devices and suits. It is also display agnostic and adapts the method to the intended usage (screen based, volumetric projection, voice only). J.A.R.V.I.S. also understands sarcasm and accepts overrides –– despite not being able to understand the logic or knowing it is mathematically impossible, which also makes sense metaphorically since the relationship emulates a master / butler affiliation.

	>>"Jarvis, remind me to develop a personality for you later."
	<br>Tony Stark[11]





		
	###References:

	1 http://project.cyberpunk.ru/idb/ubicomp_world_is_not_desktop.html<br>
	2 http://www.johnseelybrown.com/calmtech.pdf<br>
	3 http://cdn0.sbnation.com/imported_assets/1025866/jon3_GIF.gif<br>
	4 http://www.cl.cam.ac.uk/research/dtg/www/files/publications/public/fms27/2002-RehmanStaCou-invisible.pdf<br>
	5 http://www.ted.com/talks/eli_pariser_beware_online_filter_bubbles.html<br>
	6  Koert van Mensvoort, Hendrik-Jan Grievink "Next Nature", Actar 2011, p.378-387<br>
	7  ibid., p.378-387<br>
	8 Norman, Donald A.: "Why Interfaces Don't Work" in Laurel, Brenda (ed.): The Art of HumanComputer Interface Design, Addison-Wesley, 1990, p.219<br>
	9  Nathan Shedroff and Christopher Noessel: "Make it so --- Interaction Design Lessons from Science Fiction", Rosenfeld Media 2012, p.214<br>
	10 http://www.youtube.com/watch?v=mbj3XSvDyw8<br>
	11 http://www.imdb.com/title/tt1233205/<br>
