---
title: 'gallery'
date: 'various'
path: 'img/gallery/'
background: 'cover.jpg'
hero: '<div class="image-gallery"><img src="img/gallery/01.jpg"><img src="img/gallery/02.jpg"><img src="img/gallery/03.jpg"><img src="img/gallery/04.jpg"><img src="img/gallery/05.jpg"><img src="img/gallery/06.jpg"><img src="img/gallery/07.jpg"><img src="img/gallery/08.jpg"><img src="img/gallery/09.jpg"><img src="img/gallery/010.jpg"><img src="img/gallery/011.jpg"><img src="img/gallery/012.jpg"><img src="img/gallery/013.jpg"><img src="img/gallery/014.jpg"><img src="img/gallery/015.jpg"><img src="img/gallery/016.jpg"><img src="img/gallery/017.jpg"><img src="img/gallery/018.jpg"><img src="img/gallery/019.jpg"><img src="img/gallery/020.jpg"></div>'
meta: [{cameras: 'Fuji X10, Leica M240'}]
tags: ['photography', 'photo', 'foto', 'fotografie', 'gallery']
---

:markdown
	Some pictures I took.
