---
title: 'holga'
date: 2007
path: 'img/holga/'
background: '02.jpg'
hero: '<div class="slider"><img src="img/holga/01.jpg" /><img src="img/holga/02.jpg" /><img src="img/holga/03.jpg" /><img src="img/holga/04.jpg" /><img src="img/holga/05.jpg" /><img src="img/holga/06.jpg" /><img src="img/holga/07.jpg" /><img src="img/holga/08.jpg" /></div>'
images: ['holga1.jpg','holga2.jpg','holga3.jpg']
meta: [{'accidental invention':'as the slot was too deep, we invented the gaffa supported dual-sided SD Card'},{'lesson learned':'flash capacitors are not your friend.'}]
tags: ['electronics','interaction design', 'interaction', 'ixd', 'three.js', 'hack', 'photography', 'hardware', 'holga']
---

:markdown
	Combining the worst of both analog and digital photography — the Holga and the cheapest outdated point and 
	shoot sourced from ebay resulted in interesting images. [Max Walker]('http://www.maxwalker.de/') and I tried to 
	calculate the focal width beforehand, only to find out that it was the complete opposite when assembled, so
	there's that.

	You should also check out the much more ambitious [Frankencamera](https://www.frankencamera.wordpress.com/) project!
