---
title: 'iot'
subtitle: 'Internet off things?'
date: 2013
path: 'img/iot/'
background: 'cover.jpg'
hero: '<div class="slider hide-button"><img src="img/iot/02.jpg"/><img src="img/iot/03.jpg"/><img src="img/iot/04.jpg"/><img src="img/iot/05.jpg"/></div>'
meta: [{'Seminar': 'There is no such thing as society'}, {'Docent':'Björn Franke'}, {download: '<a href="img/iot/iot.pdf">iot.pdf</a>'}]
tags: ['essay', 'design theory', 'article', 'text']
longtext: true
---

:markdown
	_The images are sourced from various unsecured webcams connected to the internet. They are loosely based on scenes and transcribed with fragments from "The Street" by Georges Perec._

	Simultaneously to the increasing measures of "traditional" public surveillance such as cameras, clickers and wiretapping, the technical capabilities of ubiquitous computing devices rise to a an alarming level of detail. Concurrent, following Moore's Law [1] - which states that the number of transistors fitting on a circuit the same size approximately doubles every two years - this trend is not going to end soon. For example, in the year 2011, ten percent of all photos _ever_ taken were generated [2].

	This scientific progress has two points that I want to discuss, first - a few thoughts on how the technically advanced surveillance mechanisms differ from the traditional ones - and the second is a view on monitoring _enthusiasts_. 

	In a first draft, I wanted to contemplate the idea of a general exaggeration of digital surveillance, especially under the aspect of willingly generated data. But, as a young fellow then uncovered, the wet dreams of conspiracy theorists became reality. As it seems likely there is even more to be revealed, I try to carefully bypass the elephant in the room. But, what stays is the difference in the character of the digital surveillance. By now, the omnipresent cameras are a well known and mundane phenomenon, while we certainly don't see all of them, we assume that, as soon as we enter the public space we are filmed. Or, as Foucault said:

	>> He who is subjected to a field of visibility, and who knows it, assumes responsibility for the constraints of power; he makes them play spontaneously upon himself; he inscribes in himself the power relation in which he simultaneously plays both roles; he becomes the principle of his own subjection. [3]

	The internalisation of power shapes what we do and what we don't do in a public space, just by assuming that somebody watches and judges, with potential consequences for the actor. Now, the increased usage of cell phones, smart phones and GPS devices allows for a precise tracking without the actor knowing or even assuming. Other than the unverifiability of being watched by a supervisor in a panopticon-like surrounding, the majority of people are not even aware, thus do not convey the power structure or change their behavior, which is seen as main reasoning in the installation of public surveillance mechanisms. 
	Other than with the modern highlights of urban coexistence, like Business Improvement Districts, where the surveillance obviously serves the purpose of filtering out individuals that can not or do not want to participate in the consumption, the digital surveillance does not specify a target group you can easily exclude yourself from. You could always easily say that an installed camera is not installed for you, but for vandals, criminals or whatever marginal group you don't want to categorize yourself under. But with governments and corporations blurring the distinction between public and private areas while advancing in more and more intimate aspects it gets harder to exclude yourself rhetorically.

	Of course, the unknown surveillance methods aren't exclusively bound to new technologies, which the example of the german dragnet investigation of 1979 shows. To find a conspirative flat used by the Red Army Faction, the investigators came to the conclusion that the terrorists had to pay their electricity bill in cash. So they filtered the cash payers out of the database stored on a magnet tape, applied a few more filters like car owners until only two entries were left, a drug dealer and the wanted terrorist. 

	But, this was - besides trying to spot benefit cheats later on - an isolated case accompanied with lots of manual work and targeted planning and again, you could easily exclude yourself, not being a subaltern.
	With the adoption of newer technologies it is now possible without hard work and specific intention to accumulate vast amounts of of data, while the focus of the surveillance shifts from visibility to traceability. And this is not something that will start to decline, as the economy acquired a taste of it - the same patterns and services can be employed for the detection of fraudulent behavior and the optimization of target group specific direct mailings. Both operating and potentially profitable without the monitored individuals knowing. Apparently, the possible benefit and monetization provoked a massive compulsive data hoarding trend, especially for facebook and other big social networks, which ultimately governments wanted to take part in.
	But most importantly, the mentioned uncertainty of constantly being monitored, with the advances to more and more private areas, contains the question of what you are supposed to do altogether. An interesting approach in my opinion is the project of Kenneth Michael Merrill [4] who has made himself a publicly owned company, effectively letting shareholders define the relevant decisions of the further progress of his life, even for personal relationships, assuming that when the shareholders have flesh in the game, they are likely to make a decision with a well-thought beneficial outcome. In June, the shareholders for example agreed on a "General Relationship Agreement", where he defined the character in various details. 

	Other examples of making yourself publicly available are the personal analytics released by Stephen Wolfram [5], chief designer of Mathematica and Wolfram Alpha containing statistics of his Email traffic and keystrokes and the Application Programming Interface of @naveen [6] through which the web developer makes his self quantification freely usable.

	Being fascinated by computers for a long time, I also adore large amounts of data, but also acquired a sensitivity for privacy and what the structural inability of the Internet to forget. I can even remember persuading my friends and family to use encryption for Email - to no avail. 
	Oddly, out of the same direction arose the movement of the Internet of Things, short IoT, with the mission to develop autonomous but connected devices. Sharing the interest for new technologies, I got interested in finding out more about what the motivation and general outlook of this movement is, so I started joining a local group dedicated to this subject about two years ago and sporadically visited lectures and workshops. While these meetings were very interesting from a technological point of view, I still could not totally understand the dedications origin.
	For an observation that was meant to build a foundation, I signed up
	for an interesting excursion, a so called walkshop [7]. Basically, this was a guided walk through the city of Zurich with a strong focus on the numerous surveillance mechanisms, but also the simultaneous growing Internet connected devices, from the big advertisement displays installed in the main station hall to the numerous miscellaneous devices scattered around the city. Sadly, I had to leave early and missed the talks from the public transport department on how they measure passenger flow with connected devices and the security camera sniffing through the participants.
	But nonetheless, it was really interesting to really perceive the amount of devices when looking up, especially on your everyday routes. Also, looking back with a definition of the artifacts based on Julian Bleecker instead of the more futuristic "Spimes" defined by Bruce Sterling, I finally began to understand the character and potential impact. 

	What I observed in diving deeper into the subject, is that instead of traditional surveillance, the cliché of the twitter enabled refrigerator or the trending quantified self do not really match the nature. Bleecker talks defines the "Things" Blogjects, objects that blog. This means, they differentiate themselves from being a simple transmitter through the capability of having the motivation to enhance meaning through connectivity. Or, from a different point of view, an approach to make the public space more tangible, enabling it to speak for itself and evolve to a political issue out of it's own ability of articulation, eventually leading to the basics of that would enable the "Dingpolitik" envisioned by Latour and Weibel which I now begin to understand.

	>> Things, once plugged into the Internet, will become agents that circulate food for thought, that “speak on” matters from an altogether different point of view, that lend a Thing-y perspective on micro and macro social, cultural, political and personal matters.
	- Julian Bleecker [8]

	So, different than to what it appears at first, IoT is not about simply hooking up sensors to the consisting infrastructure, but more about building the foundation of an open (semantic) network that more or less leads to a new form of making space more tangible in different ways. The sensibility for privacy is more or less given, and the commitment to the open source community demand a different discussion than the general effects of public and private surveillance - for example in which way the conscious sharing of data contrasts the passive and uncertain accumulation and the associated adoption of power structures. But,  alongside the critical consideration of a differentiation of being _watched_ and being _recorded_.


	###References:

	1 [http://en.wikipedia.org/wiki/Moore's_law](http://en.wikipedia.org/wiki/Moore's_law)<br>
	2 Fortune Magazine September 2012 according to WIRED.com<br>
	3 Foucault, Michel. Discipline and Punishment, 1977<br>
	4 [http://www.kmikeym.com/](http://www.kmikeym.com/)<br>
	5 [http://blog.stephenwolfram.com/2012/03/the-personal-analytics-of-my-life/](http://blog.stephenwolfram.com/2012/03/the-personal-analytics-of-my-life/)<br>
	6 [http://api.naveen.com/](http://api.naveen.com/)<br>
	7 [http://zurich.walkshop.org/](http://zurich.walkshop.org/)<br>
	8 [http://dm.ncl.ac.uk/courseblog/files/2010/04/whythingsmatter.pdf](http://dm.ncl.ac.uk/courseblog/files/2010/04/whythingsmatter.pdf)
