---
title: 'm'
date: 2013
path: 'img/m/'
background: 'cover2.png'
hero: '<img class="camera" src="img/m/00.png" width="100%"/>'
images: ['01.png']
meta: [{ 'live demo': '<a href="http://www.gerhardbliedung.com/m" target="_blank">link</a>', 'free rotation': '<a href="http://www.gerhardbliedung.com/m/camera_only.html" target="_blank">link</a>'}]
tags: ['webgl experiment','interaction design', 'interaction', 'ixd', 'webgl', 'three.js', 'webdesign', 'frontend', 'experimental', 'm']
---

:markdown
	After seeing multiple online product configurators, I wanted to explore the usage of WebGL to address some weaknesses I discovered. 
	Once the model is loaded, textures, materiality, colors and configurations could be switched on the fly.

	The object could also be magnified without having to load further resources. As object I chose the M240 
	rangefinder camera from Leica Camera AG, as it posed a good mix of simple and complex modeling tasks. 
	The model was done in blender, and loaded with three.js. 
	
	__Please note__

	- To view the examples, you need a browser capable of rendering WebGL (Chrome / Safari / Firefox / IE11)
	- This was done in a blender course at the Zurich University of the Arts and is not related to my internship at Leica Camera AG
	- The motorola motomaker now uses webGL for the configurator. [Nice!](www.motorola.com/us/motomaker)
