---
title: 'medusae'
date: 2015
path: 'img/medusae/'
background: 'cover.jpg'
images: ['01.jpg','02.jpg','03.jpg','04.jpg','cover.jpg']
meta: [{'collaboration with': '<a href="http://www.meret.com/">Meret Vollenweider</a><br><a href="http://people.zhdk.ch/jessica.steinmitz/Jessica_Steinmitz.html">Jessica Steinmitz</a><br><a href="http://www.linkedin.com/pub/maria-antonieta-diaz-alfaro/27/3a5/251">Maria Antonieta Diaz Alfaro</a>'}]
tags: ['installation concept','interaction design', 'interaction','ai', 'ixd', 'arduino', 'physical computing', 'electronics']
---
	
	

:markdown
	Medusae is an abstracted voting system suited to the upcoming relocation of the Zurich University of the Arts from scattered faculties to one unifying building. 
	The medusae are artificial organisms which live in the entrance hall and can be either interacted with or just act as a vague display of previous interactions. 

	Medusae is a project born in an interactive architecture workshop particularly with regard to the relocation from the Zurich University of the Arts to the unified 
	“Toni Areal”. One of many ideas was a voting system for the new campus that enables students to articulate their feelings towards topics primarily related to 
	administrative topics, but also as a tool for the university management to better understand and evaluate tendencies and opinions. 
	The primary focus was on keeping the interaction fun and the experience far away from the previous methods like email surveys, resulting in the dropping of 
	possible questions that require user authentication. After a testing phase based on throwies and reactive surfaces, the interface was changed due to problems 
	keeping the electronic reliable and the poor usage of the available space. Thus, the idea of the medusae was born. Instead of using a static object as input area, 
	the medusae are floating blimps resembling jellyfish that react to their specific nourishment. Depending on which colored light source is chosen, the corresponding 
	artificial organism approaches it and starts consuming the light, resulting in brighter lighting patterns and a more dynamic behavior and movement. This reaction 
	enables to read the mood of the campus related to one issue by just looking up and judging the state of the different colored medusae. 
