---
title: 'ntt'
date: 2014
path: 'img/ntt/'
background: 'cover.png'
hero: '<video controls src="http://cl.ly/1d1g3d0K2U32/export.mov" style="width:100%;" poster="/img/ntt/video.png"></video>'
images: ['01.jpg','02.jpg','03.jpg','04.jpg','05.jpg', '06.png', '07.png', '08.jpg']
meta: [{github: '<a href="https://github.com/bldng/ntt" target="_blank">github.com/bldng/ntt</a>'}, {thesis: <a href="http://cl.ly/2R0Q0v111T35/thesis_gerhard_bliedung.pdf" target="_blank">link</a>}, {documentation: <a href="http://cl.ly/393Q2T1v2K11/documentation_gerhard_bliedung.pdf" target="_blank">link</a>}]
tags: ['interaction design', 'interaction', 'ixd', 'ai', 'webgl', 'camera vision']
---

:markdown
	Bachelor thesis, Zurich Univerity of the Arts.

	ntt — Embracing reciprocity in ubiquitous computing.

	## Motivation

	While technology advances rapidly and simultaneously enters personal space, our relationship 
	with these artifacts seems to evolve at a different pace. The categorization as an obedient 
	tool becomes debatable, when for example self driving cars have to decide over the fate of their 
	owner, based on factors that are hidden and subject to constant change. Ntt aims to provide an 
	outlook that encourages mutual understanding and responsibility.
	
	## Product

	The voice controlled frontend consists of a three-dimensional space, containing a circle within 
	a network of spheres. As the circle has no method to articulate itself without negotiation with 
	its environment, it uses the spheres as interfaces for output. These could also be different devices 
	or services, making the system device agnostic. The backend is mostly web based and can run on many 
	devices equipped with audio and video input.

	## Interaction

	The visitor is confronted with a constantly changing state, influenced by text mining, facial expressions 
	as well as speech recognition. Depending on the current mood of the circle and the behavior of previous 
	visitors towards it, the system may even develop a complete refusal until a certain amount of confidence is 
	restored. What can be achieved, therefore depends on the amount of investment in the intersubjective relation.


	## Added value and future potential

	The reconsideration of our relationship towards complex artifacts, especially those dealing with artificial 
	intelligence, as well as evaluating an adequate representation beyond the problematic usage of anthropomorphism 
	poses an interesting field of research. While this installation is a brief glimpse of this area, the foundation 
	could be used for further interface experiments as the system can adapt new functions after a short training period.

	## Technologies

	- Node.js
	- Web GL
	- Speech recognition
	- Face & expression tracking
	- Sentiment analysis
	- Supervised learning algorithms